<div class="container color-dark">
  <div class="col">
    <p>Dodanie rekordu</p>
  </div>
  <div class="col">
      <p>Twoja lista rekordów</p>
  </div>
</div>
  <div class="container color-light">
    <div class="col">
      <p class="sm">
        Użyj formularza poniżej, aby dodać nowy rekord
      </p>
      
      <form>
        <input type="text" class="txt" name="item" placeholder="Cel zyciowy...">
        <input type="submit" class="btn" value="Dodaj rekord"> 
      </form>
    </div>
    <div class="col">
      <p class="life-container">
        Chce sobie chodzic po chodniku.
      </p>
    </div>
  </div>  